

.cafe-info{
    background-color: #33333389;

}
.cafe-name {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.cafe-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.cafe-details p {
    font-size: 0.95rem;
    color: #555;
    margin: 0;
}
.menu-list{
    z-index: 1;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.toast {
    opacity: 1 !important;
    z-index: 9999;
    }

    .toast-success {
        background-color: #1d9f3c !important; /* Light green */
        color: #dfe0df !important; /* Dark green text */
  }
  .menu-card-img{
      width: 230px;
      height: 150px;
      object-fit: cover;
  }
  @media(max-width:760px){
      .menu-card-img {
      width: 100% !important;
      height: 230px;
      object-fit: cover;
  }}
